<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>数据项目管理</title>
    <link rel="stylesheet" href="../../../css/common/common.css">
    <link rel="stylesheet" href="../../../css/public/api/main.css">
    <link rel="stylesheet" href="../../../css/public/index.css">
    <link rel="stylesheet" href="../../../css/lib/combo.select.css">
    <link rel="stylesheet" href="../../../css/lib/font-awesome.min.css">
    <style>
        td{
            vertical-align: middle !important;
        }
    </style>
</head>
<body class="ck_bg_deepblack" ng-controller="controller">
<input id="http" type="hidden" value="../../../">
<div class="ck_topbar ck_bg_kon">
    <div class="ck_title_font ck_title ck_font_white">数据项目管理系统</div>
    <nav class="ck_nav_topList ck_fr">
        <ul>
            <li class="ck_pr"><a ck-controlsdefaultclick="avater" class="ck_btn"><img class="ck_avatar"
                                                                                      src="../../../images/avater/ee.jpg">
            </a>
                <div ck-defaultclick="avater" class="ck_popup_auto ck_bg_sky-blue ck_popup_bright ck_dn">
                    <a class="ck_font_white" href="#">logout</a>
                </div>
            </li>
        </ul>
    </nav>
    <span ck-controlsnav="menu" class="ck_nav_menu_btn"></span>
    <nav ck-nav="menu" id="testMenu" class="ck_nav_menu ck_font_white">
        <ul class="ck_vertical_menu">
            <li ck-controlsdefaultclick="projectManager">流程抓取 <span class="downIcon"> > </span></li>
            <ul class="ck_dn ck_bg_blue" ck-defaultclick="projectManager">
                <li><a href="../listPage/workFlowTemplateList.html">流程抓取</a></li>
                <li><a href="../createPage/projectCreatePage.html">新建流程</a></li>
            </ul>
        </ul>
    </nav>
</div>
<div class="ck_content ck_leftbar_250px ck_bg_gray">
    <section class="bg_gray">
        <div class="ck_part">
            <h3>流程抓取列表</h3>
        </div>
    </section>
    <br/>
    <section>
        <ul class="ck_tab">
            <li class="active">筛选条件查看</li>
        </ul>
        <div class="toolbar ck_bg_white ck_pr">
            <div class="ck_part">
                流程名称:&nbsp
                <input type="text"  ng-model="searchParamter.name">
            </div>
            <div class="ck_part ck_fr">
                <a class="ck_btn ck_btn_sure" ng-click="searchList('reset')">查询</a>
            </div>
            <div class="ck_part ck_fr ck_pa" style="right:0;top:90%">
                <a href="../createPage/projectCreatePage.html" class="ck_btn ck_bg_rosiness ck_font_white">新建项目</a>
            </div>
        </div>
    </section>
    <br/>
    <section class="table-responsive" style="margin-top: 40px">
        <div class="dataListBox">
            <table class="ck_table ck_table_line">
                <thead class="bg_gray">
                <tr>
                    <th>序号</th>
                    <th>名称</th>
                    <th>流程</th>
                    <th>状态</th>
                    <th>操作</th>
                </thead>
                <tbody class="ck_bg_white">
                <tr ng-repeat="item in dataList">
                    <td>{{item.id}}</td>
                    <td>{{item.name}}</td>
                    <td>
                        <div ng-repeat="p in item.process">
                            <p>{{p}}</p>
                            <p ng-if="$index < item.process.length-1"><i class="fa fa-long-arrow-down"></i></p>
                        </div>
                    </td>
                    <td>{{item.statusName}}</td>
                    <td>
                        <span><a ng-click="enableWorkFlowTemplate(item.id)" class="ck_font_rosiness" ng-if="item.status==0" >&nbsp;启用&nbsp;</a></span>
                        <span><a ng-click="disabledWorkFlowTemplate(item.id)" class="ck_font_rosiness" ng-if="item.status==1" >&nbsp;停用&nbsp;</a></span>
                        <span><a href="/workFlowTemplate/toDetail.html?workTemplateId={{item.id}}">编辑</a></span>
                        <span><a ng-click="delWorkFlowTemplate(item.id)" class="ck_font_rosiness" >&nbsp;删除&nbsp;</a></span>
                    </td>



                </tr>
                </tbody>
            </table>
            <div id="myAlt" class="ck_pa ck_bg_gunjyo ck_dn"
                 style="max-width:300px;color:#FFFFFF;left:40%;top:50%;padding: 0.5em 1em;font-size:14px;border-radius:6px">
            </div>
        </div>
        <div class="toolbar ck_bg_white" ng-if="totalPage>1">
            <ul class="ck_pagination">
                <li><a ng-click="searchList('first')"
                       ng-class="{true:'disable'}[searchParamter.page=='1']">《</a>
                </li>
                <li><a ng-click="searchList('pre')"
                       ng-class="{true:'disable'}[searchParamter.page=='1']">上一步</a>
                </li>
                <li><span>当前页:{{searchParamter.page}}，共{{totalPage}}页</span></li>
                <li><a ng-click="searchList('next')"
                       ng-class="{true:'disable'}[searchParamter.page==totalPage]">下一步</a></li>
                <li><a ng-click="searchList('last')"
                       ng-class="{true:'disable'}[searchParamter.page==totalPage]">》</a></li>
            </ul>
        </div>
    </section>
</div>
<script src="../../../js/lib/require.js"></script>
<script src="../../../js/config.js"></script>
<script src="../../../js/view/workFlowTemplateManager/listPage/workFlowTemplateList.js"></script>
</body>
</html>