<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>可视化平台</title>
    <link href="${staticAddress}/css/lib/charts.css" rel="stylesheet"/>
    <link href="${staticAddress}/css/public/api/main.css" rel="stylesheet"/>
</head>
<body class="chars_bg" style="opacity: 0">
<input type="hidden" id="mapJson" value='${mapJson}'/>
<!--头部控件-->
<div id="chartsTopMenu" class="chars_top">
    <span class="ck_pa ck_font_white" style="left:80px;">{{name}}</span>
    <span class="ck_font_sky-blue">{{projectName}}</span>
    <a class="ck_btn ck_btn_sure ck_pa" style="right:80px;top:2px;padding: .3em .5em;" @click="doSave()">完成</a>
</div>
<!--菜单控件-->
<div id="charsMenu" class="chars_left chars_black">
    <ul class="chars_menu">
        <li v-for="item in menuList" @click="chooseItem(item.type,$event)">
            <a v-if="item.img!=''">
                <img :src="item.img" class="img_24">
            </a>
            <a v-if="item.img==''" class="font_24">
                {{item.name}}
            </a>
        </li>
    </ul>
</div>
<!--菜单列表控件-->
<div id="chartsBox" class="chars_box">
    <ul class="chars_menu2">
        <li v-if="charsBox.length!=0">
            查询:<br/>
            <input type="text" class="chars_searchInput" placeholder="名称" v-model="searchParam"/>
        </li>
        <li v-for="item in charsBox" v-if="even(item.typeItems).length!=0">
            <h4>&nbsp;&nbsp;{{item.typeName}}&nbsp;&nbsp;</h4>
            <br/>
            <br/>
            <div v-for="jtem in even(item.typeItems)">
                <img class="chars_box_img" :src="jtem.img"/>
                <div class="chars_insetBtn">
                    <a @click="chooseItem(jtem)">insert</a>
                </div>
            </div>
        </li>
    </ul>
</div>
<!--leftBtn-->
<a id="leftBtn" class="charts_sxbtn" style="left:60px;top:60px;display: none">
    <
</a>
<!--参数配置控件-->
<div id="chartsSettingBox" v-if="isShow" class="chars_right chars_black"
     v-bind:class="{'chars_right_400px':type=='data'}">
    <div class="chars_btnGroup">
        <a v-bind:class="{'chars_aChoose':type=='data'}" @click="changeType('data')">编辑数据</a>
        <a v-bind:class="{'chars_aChoose':type=='setting'}" @click="changeType('setting')">参数设置</a>
        <a @click="hideBox()" style="float: right">关闭</a>
    </div>
    <div v-if="type=='data'">
        <div v-if="chooseItem.settings.type=='text'">
            文本框内容:
            <textarea v-on:blur="changeData()" v-model="chooseItem.data" style="width:85%;height:80px;">

            </textarea>
        </div>
        <div v-if="chooseItem.settings.type=='chart'">
            <div style="padding: .5em;position: relative">
                x轴:分类轴 &nbsp;&nbsp;&nbsp; y轴:数据轴
                <a class="chars_chooseData" style="position: absolute;right:5%;top:0" @click="showSettingDataBox()">+选择数据</a>
            </div>
            <section class="table-responsive">
                <div class="chars_table">
                    <table class="ck_table ck_table_line">
                        <thead class="ck_bg_gray">
                        <tr>
                            <th style="border-bottom:0">
                                ...
                            </th>
                            <th style="border-bottom:0" v-for="(item,$index) in chooseItem.tableData[0]">{{abcList[$index%26]}}</th>
                        </tr>
                        </thead>
                        <tbody class="ck_bg_white">
                        <tr v-for="(item,$index) in chooseItem.tableData">
                            <th style="font-weight: normal">{{$index+1}}</th>
                            <th style="font-weight: normal" v-for="j in item">{{j}}</th>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </section>
        </div>
    </div>
    <div v-if="type=='setting'">
        <div style="text-align: center;padding: .5em;background-color:rgba(0,0,0,.5)"
             v-if="chooseItem.settings.type!='text'">
            <img style="width:80%" v-bind:src="getImage(chooseItem.key)"/>
            <br/><br/>
            <a style="background-color:#000000;color:white;padding: .3em .5em;" @click="changeType('data')">编辑数据</a>
        </div>
        <div class="chars_settingItemBox" v-for="item in chooseItem.settings.paramSettings">
            <p>{{item.name}} <a @click="showItem(item)" v-bind:class="{'chars_choose':item.isShow}"> > </a></p>
            <ul v-show="item.isShow">
                <li v-for="z in item.params">{{z.name}}:
                    <span v-for="j in z.paramsList">
                        {{j.name}}
                        <input v-if="j.type=='text'" type="text"
                               v-bind:class="{true:'colorPicker',false:'chars_inputBox'}[item.type=='color']"
                               v-bind:value="j.value"
                               v-bind:style="'background-color:'+j.value"
                               v-on:blur="changeData(j,$event)"/>
                        <input v-if="j.type=='minText'" type="text"
                               class="chars_inputMinBox"
                               v-bind:value="j.value"
                               v-bind:style="'background-color:'+j.value"
                               v-on:blur="changeData(j,$event)"/>
                        <select v-if="j.type=='select'" class="chars_selectBox" v-on:change="changeDataSelect()"
                                v-model="j.value">
                            <option v-for="f in j.defaultData" v-bind:value="f.key">{{f.value}}</option>
                        </select>
                    </span>
                <li>
            </ul>
        </div>
    </div>
</div>
<!--背景设置控件-->
<div id="backSettingBox" v-if="isShow" class="chars_right chars_black">
    <div class="chars_btnGroup">
        <a> 面板设置</a>
        <a @click="isShow=false" style="float: right">关闭</a>
    </div>
    <div class="chars_settingItemBox" v-for="item in backSetting.paramSettings">
        <p>{{item.name}} <a @click="item.isShow=!item.isShow" v-bind:class="{'chars_choose':item.isShow}"> > </a></p>
        <ul v-show="item.isShow">
            <li v-for="z in item.params">{{z.name}}:
                <br/>
                <span v-for="j in z.paramsList">
                     {{j.name}}
                        <input v-if="j.type=='text'" type="text"
                               v-bind:class="{'colorPicker':item.type=='color','chars_inputBox':item.type=='text'}"
                               v-bind:value="j.value"
                               v-bind:style="'background-color:'+j.value"
                               v-on:blur="changeData(j,$event)"/>
                        <input v-if="j.type=='minText'" type="text"
                               class="chars_inputMinBox"
                               v-bind:value="j.value"
                               v-bind:style="'background-color:'+j.value"
                               v-on:blur="changeData(j,$event)"/>
                        <select v-if="j.type=='select'" class="chars_selectBox" v-on:change="changeDataSelect()"
                                v-model="j.value">
                            <option v-for="f in j.defaultData" v-bind:value="f.key">{{f.value}}</option>
                        </select>
                    </span>
            <li>
        </ul>
    </div>
</div>
<!--数据选择控件 123-->
<div id="settingDataBox" class="chars_hiddenBox" v-show="isShow">
    <div class="chars_centerBox" style="height: 90%;overflow-y: auto">
        <div class="chars_title">
            选择数据
        </div>
        <div>
            <div class="chars_subTitle">
                <h5>选择数据</h5>
            </div>
            <div class="chars_dataBox">
                <div class="chars_itemDataBox">
                    选择数据结果：
                    <select class="chars_selectBox" v-model="updateData.dataResultId" @change="getChildren()">
                        <option v-for="item in settingData" v-bind:value="item.dataResultId">{{item.dataResult}}
                        </option>
                    </select>
                </div>
                <div class="chars_itemDataBox">
                    选择项：
                    <select class="chars_selectBox" v-model="updateData.paramId" @change="getChildren2()">
                        <option v-for="item in settingData2" v-bind:value="item.paramId">{{item.name}}</option>
                    </select>
                </div>
            </div>
            <div class="chars_subTitle">
                <h5>字段匹配</h5>
            </div>
            <div class="chars_dataBox">
                <div class="chars_itemDataBox" v-for="item in paramData">
                    {{item.fieldName}}:
                    <select class="chars_selectBox" v-model="updateData[item.field]">
                        <option v-for="item in settingData3" v-bind:value="item.field">{{item.fieldName}}</option>
                    </select>
                </div>
            </div>
            <div v-if="isShowss" class="chars_subTitle">
                <h5>数据排序</h5>
            </div>
            <div v-if="isShowss" class="chars_dataBox">
                <a style="padding:.3em;color:blue;border: 1px solid #cccccc" v-if="updateData.sortOrder.length==0"
                   @click="updateData.sortOrder.push({field:'',order:'asc'})">+</a>
                <div class="chars_itemDataBox" style="display: block" v-for="(item,$index) in updateData.sortOrder">
                    <a style="padding:.3em;color:blue;border: 1px solid #cccccc"
                       @click="updateData.sortOrder.push({field:'',order:'asc'})">+</a>
                    <a style="padding:.3em .5em;color: red;border: 1px solid #cccccc" @click="deleteItem($index)">-</a>
                    <select class="chars_selectBox" v-model="item.field">
                        <option v-for="item in settingData3" v-bind:value="item.field">{{item.fieldName}}</option>
                    </select>
                    &nbsp;&nbsp;
                    <select class="chars_selectBox" v-model="item.order">
                        <option value="asc">顺序</option>
                        <option value="desc">倒序</option>
                    </select>
                </div>
            </div>
            <div v-if="isShowss" class="chars_subTitle">
                <h5>条数限定</h5>
            </div>
            <div v-if="isShowss" class="chars_dataBox">
                条数限定:
                <input v-model="updateData.limitNum" type="number" min="0" v-bind:value="updateData.limitNum"/>
            </div>
            <a style="color:cornflowerblue" @click="isShowss=!isShowss">--{{isShowss?"收起":"展开"}}--</a>
        </div>
        <div class="chars_toolBox">
            <a class="chars_btn_sure" @click="getData()">确定</a>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <a class="chars_btn_cancel" @click="hiddenBox()">取消</a>
        </div>
    </div>
</div>
<style>
    .tooltip-block{
        position: relative;
    }
    .tooltip-block:hover:after{
        border: 1px solid #000000;
        padding: 3px 2px;
        background: #ffffff;
        content: attr(data-title);
        position: absolute;
        right: -40px;
        top: 28px;
        border-radius: 2px;
        width: 53px;
        text-align: center;
    }
</style>
<!--画板控件-->
<div id="chartsShowBox" class="chars_content" @click.stop="showBackSettingBox()">
    <div class="chars_plan">
        <div class="chars_hover" v-for="(item,$index) in chartsList">
            <ul class="chars_menuToolBox" v-bind:id="'toolBox'+item.key">
                <li class="tz tooltip-block" v-on:onmousedown.stop="showImg($index)" data-title="拖拽"><a><img height="14"
                                                                                                             src="${staticAddress}/images/chart/tz.png"/></a>
                </li>
                <li @click.stop="chooseThisData(item)" data-title="编辑数据" class="tooltip-block"><a ><img height="14" src="${staticAddress}/images/chart/data.png"/></a>
                </li>
                <li @click.stop="chooseThisSetting(item)" data-title="参数设置" class="tooltip-block"><a ><img height="14"
                                                                                                           src="${staticAddress}/images/chart/setting.png"/></a></li>
                <li v-if="item.type==='chart'" @click.stop="downLoad(item,$index)" data-title="保存图片" class="tooltip-block"><a ><img height="14"
                                                                                                                                    src="${staticAddress}/images/chart/save.png"/></a>
                </li>
                <li @click.stop="deleteItem(item,$index)" data-title="删除" class="tooltip-block"><a ><img height="14" src="${staticAddress}/images/chart/del.png"/></a>
                </li>
            </ul>
            <div @click.stop="showToolBox(item.key,$index)"
                 v-bind:class="{'chars_textItem':item.type==='text','chars_item':item.type==='chart'}"
                 v-bind:id="$index">

            </div>
        </div>
    </div>
</div>
<script src="${staticAddress}/js/lib/jquery.min.js"></script>
<script src="${staticAddress}/js/lib/html2canvas.min.js"></script>
<script src="${staticAddress}/js/lib/echarts.common.min.js"></script>
<script src="${staticAddress}/js/lib/tz.js"></script>
<script src="${staticAddress}/js/lib/jquery.colorpicker.js"></script>
<script src="${staticAddress}/js/lib/vue.js"></script>
<script src="${staticAddress}/js/view/visualization/visualizationPlatform/visualizationPlatform.js"></script>
</body>
</html>