<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>数据项目管理</title>
    <link rel="stylesheet" href="${staticAddress}/css/lib/bootstrap.css">
    <link rel="stylesheet" href="${staticAddress}/css/lib/app.min.css">
    <link rel="stylesheet" href="${staticAddress}/css/lib/font-awesome.min.css">
    <style>
        .navbar-collapse {
            /*margin-left: 0 !important;*/
        }

        .panel-heading {
            transition: all .3s;
        }

        .panel-heading:hover {
            transform: scale(1.02);
        }

        .error {
            border-color: red !important;
            color: red;
            display: inline-block;
            min-width: 100px;
        }

        .error.process, .error.datasourceId {
            position: absolute;
            top: 35px;
            left: 87px
        }

        .error.dataSourceType {
            position: absolute;
            top: 35px;
            left: 108px;
        }

        .add-node {
            width: 100%;
        }

        .fa.pull-right {
            margin-left: 20px !important;
        }

        .form-inline .control-label.col-xs-3, .control-label.col-xs-4 {
            padding-left: 0;
            padding-right: 0;
            margin-top: 6px;
        }

        .m-l-xs1 {
            margin-left: 6px;
        }

        [v-cloak] {
            display: none;
        }

        .node-container .m-b-md {
            margin-bottom: 25px;
        }

        #dataSourceType {
            padding: 0;
        }

        .avatar img {
            width: 40px !important;
            border-radius: 500px;
            height: 40px !important;
        }
    </style>
</head>
<body>
<input id="data" type="hidden" value='${data}'>
<div class="app" id="app" v-cloak>
    <header id="header" class="app-header navbar" role="menu">
        <!-- navbar header -->

        <!-- / navbar header -->
        <div class="navbar-header bg-dark">
            <button class="pull-right visible-xs dk" ui-toggle-class="show" target=".navbar-collapse">
                <i class="glyphicon glyphicon-cog"></i>
            </button>
            <button class="pull-right visible-xs" ui-toggle-class="off-screen" target=".app-aside" ui-scroll="app">
                <i class="glyphicon glyphicon-align-justify"></i>
            </button>
            <!-- brand -->
            <a class="navbar-brand text-lt">
                <span class="hidden-folded m-l-xs">数据管理项目</span>
            </a>
            <!-- / brand -->
        </div>
        <!-- navbar collapse -->
        <div class="collapse pos-rlt navbar-collapse box-shadow bg-dark">

            <!-- nabar right -->
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" data-toggle="dropdown" class="dropdown-toggle clear">
              <span class="thumb-sm avatar pull-right m-t-n-sm m-b-n-sm m-l-sm">
                <img src="${staticAddress}/images/avater/ee.jpg" alt="头像">
                <i class="on md b-white bottom"></i>
              </span>
                        <span class="hidden-sm hidden-md"></span> <b class="caret"></b>
                    </a>
                    <!-- dropdown -->
                    <ul class="dropdown-menu animated fadeInRight w">
                        <li>
                            <a href="/logout.html">Logout</a>
                        </li>
                    </ul>
                    <!-- / dropdown -->
                </li>
            </ul>
            <!-- / navbar right -->
        </div>
        <!-- / navbar collapse -->
    </header>
    <aside id="aside" class="app-aside hidden-xs bg-dark">
        <div class="aside-wrap">
            <div class="navi-wrap">
                <!-- nav -->
                <nav ui-nav="" class="navi clearfix">
                    <ul class="nav" id="aside_nav">
                        <#list menus as item>
                            <li class="">
                                <a class="auto">
                            <span class="pull-right text-muted">
                             <i class="fa fa-fw fa-angle-right text"></i>
                            <i class="fa fa-fw fa-angle-down text-active"></i>
                             </span>
                                    <span class="font-bold">${item.name}</span>
                                </a>
                                <ul class="nav nav-sub dk">
                                    <#list item.subMenu as jtem>
                                        <li>
                                            <a href="${jtem.url}">
                                                <span>${jtem.name}</span>
                                            </a>
                                        </li>
                                    </#list>

                                </ul>
                            </li>
                            <li class="line dk"></li>

                        </#list>


                    </ul>
                </nav>
                <!-- nav -->

                <!-- aside footer -->

                <!-- / aside footer -->
            </div>
        </div>
    </aside>
    <div class="app-content">
        <div class="app-content-body">
            <div class="container">
                <div>
                    <div class="row m-t-lg">
                        <div class="col-sm-5 col-sm-offset-3">
                            <form class="form-horizontal">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">流程名称:</label>
                                    <div class="col-sm-9">
                                        <input type="text" id="templateName" v-model="workFlow.templateName"
                                               class="form-control" placeholder="输入名称">
                                        <span class="error hidden templateName">请输入流程名称</span>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="row">
                        <div class="hidden" id="template">
                            <div class="panel-heading no-border bg-info tip">
                                <span>请点击右侧设置按钮初始化工作流节点</span>
                                <button class=" _delNode btn btn-sm btn-icon btn-rounded btn-info pull-right  m-t-n-xs">
                                    <i class="fa fa-minus"></i>
                                </button>
                                <button class="  _setNode btn btn-sm btn-icon btn-rounded btn-info pull-right m-r m-t-n-xs"
                                        data-toggle="modal"
                                        data-target="#myModal"><i class="fa fa-cog"></i></button>
                            </div>
                        </div>
                        <div class="node-container">
                            <div class="panel-heading no-border bg-info m-b-md"
                                 v-for="(item,$index) in workFlow.workFlowInfoList">
                                <!--<span class="text-lt m-r-md">{{item.nodeParam.processTypeName}}</span>
                                <span class="text-lt m-r-md">{{item.nodeParam.datasourceName}}</span>
                                <span class="text-lt m-r-md">{{item.nodeParam.datasourceTypeName}}</span>-->
                                <span class="text-lt m-l-md">{{item.name}}</span>
                                <button class="btn btn-sm btn-icon btn-rounded btn-info pull-right  m-t-n-xs"
                                        @click="del($index)">
                                    <i class="fa fa-minus"></i>
                                </button>
                                <button class="btn btn-sm btn-icon btn-rounded btn-info pull-right m-r m-t-n-xs"
                                        @click="setNode($index)"
                                        data-toggle="modal" data-target="#myModal">
                                    <i class="fa fa-cog"></i>
                                </button>
                            </div>
                        </div>
                        <button class="btn btn-warning add-node m-t-md" @click="addNodeTemplate">
                            <i class="fa  fa-plus"></i>
                        </button>
                        <div class="row m-t-xxl">
                            <div class="col-sm-12 text-center">
                                <button type="button" class="btn btn-info" @click="saveWorkFlow">确定</button>
                            </div>
                        </div>
                    </div>
                    <div class="modal fade" id="myModal" data-show="false" tabindex="-1" role="dialog"
                         aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                        &times;
                                    </button>
                                    <h4 class="modal-title" id="myModalLabel">
                                        流程设置
                                    </h4>
                                </div>
                                <div class="modal-body">
                                    <div class="form-horizontal">
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label text-left" for="node-name">节点名称：</label>
                                            <div class="col-sm-5 col-sm-pull-1">
                                                <input type="text" v-model="modalData.name" id="node-name"
                                                       class="form-control" placeholder="pc抓取 微博 微博内容">
                                                <span class="error hidden nodeName">请输入节点名称</span>
                                            </div>
                                        </div>
                                    </div>
                                    <form class="form-inline" role="form">
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <label for="process" class="col-xs-3 control-label">流程：</label>
                                                <select id="process" @change="changeProcessType"
                                                        v-model="modalData.nodeParam.processType"
                                                        class="col-xs-9 m-l-xs1 form-control m-b">
                                                    <option v-for="item in process" :value="item.key">{{item.value}}
                                                    </option>
                                                </select>
                                                <span class="error hidden process">请选择流程</span>
                                            </div>
                                            <div class="col-sm-4">
                                                <label for="dataSource" class="col-xs-3 control-label">数据源：</label>
                                                <select id="dataSource" v-model="modalData.nodeParam.datasourceId"
                                                        class="col-xs-9 m-l-xs1 form-control m-b"
                                                        @change="changeDataSource">
                                                    <option value="">无</option>
                                                    <option v-for="item in dataSource" :value="item.datasourceId" selected>
                                                        {{item.datasourceName}}
                                                    </option>
                                                </select>
                                                <span class="error hidden datasourceId">请选择数据源</span>
                                            </div>
                                            <div class="col-sm-4">
                                                <label for="dataSourceType" class="col-xs-4 control-label">数据源类型：</label>
                                                <select id="dataSourceType" @change="changeDataSourceType"
                                                        v-model="modalData.nodeParam.datasourceTypeId"
                                                        class="col-xs-7  form-control m-b">
                                                    <option value="">无</option>
                                                    <option v-for="item in dataSourceType" :value="item.typeId">
                                                        {{item.typeName}}
                                                    </option>
                                                </select>
                                                <span class="error hidden dataSourceType">请选择数据源类型</span>

                                            </div>
                                        </div>
                                    </form>
                                    <div class="row text-center">
                                        <div class="col-sm-8 col-sm-offset-2"
                                             v-if="workFlow.workFlowInfoList.length>0 && nodeIndex!=0">
                                            <table class="table table-striped table-bordered m-t-md">
                                                <thead>
                                                <tr>
                                                    <th>参数</th>
                                                    <th>上节点输出</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr v-for="(item,$index) in param">
                                                    <td :paramId="item.id"><span v-if="item.isRequired != 0"
                                                                                 class="text-danger m-r-xs">*</span>{{item.paramCnName}}
                                                    </td>
                                                    <td>
                                                        <select class="form-control" v-model="paramSelect[$index].fieldId"
                                                                @change="selectParam($event,$index)"
                                                                :isRequire="item.isRequired">
                                                            <option value="">无</option>
                                                            <option v-for="k in output" :value="k.id">{{k.fieldCnName}}
                                                            </option>
                                                        </select>
                                                        <span class="error hidden" v-if="item.isRequired != 0">请选择{{item.paramCnName}}</span>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-info" @click="saveNode">
                                        确定
                                    </button>
                                    <button type="button" class="btn btn-default" @click="cleanModalData(modalData)"
                                            data-dismiss="modal">取消
                                    </button>
                                </div>
                            </div><!-- /.modal-content -->
                        </div><!-- /.modal -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
<script src="${staticAddress}/js/lib/vue.js"></script>
<script src="${staticAddress}/js/lib/jquery.min.js"></script>
<script src="${staticAddress}/js/lib/bootstrap.min.js"></script>
<script src="${staticAddress}/js/view/process/processConfigure.js"></script>
</html>