.loginBox {
    position: relative;;
    width: 400px;
    background-color: #fff;
    color: black;
    text-align: center;
    display: block;
    margin: 0 auto;
    padding: 1em 0;
    height: 250px;
    border-radius: 8px;
    box-shadow: 0 0 12px #ccc;
}

.text_username, .text_password {
    padding: .3em 0 .3em 2.5em;
    width: 80%;
    border-radius: 8px;
    display: inline-block;
    margin: .5em 0;
    font-size: 16px;
}

.margin_top_bottom {
    margin: 1em 0;
}

.icon_pa {
    position: absolute;
    left: 30px;
    top: 30%
}

.systemTitle {
    position: absolute;
    font-size: 2em;
    left: 0;
    color: #ffffff;
    top: -20%;
}