<div class="col_part ck_bg_white" style="overflow: auto">
    <section>
        <h2>数据输出</h2>
    </section>
    <br/>
    <section class="col_part">
        <div class="col_part" style="width:500px;margin:0 auto">
            api形式<br/><br/>
            <div style="padding-left:80px">
                <input type="radio" name="apiType" ng-checked="updateItem.apiType=='json'"
                       ng-click="updateItem.apiType='json'"/>json<br/>
                <input type="radio" name="apiType" ng-checked="updateItem.apiType=='xml'"
                       ng-click="updateItem.apiType='xml'"/>xml
            </div>
        </div>
        <div class="col_part" style="width:500px;margin:0 auto">
            api名称:&nbsp<input type="text" class="pub_text" placeholder="输入api名称" ng-model="updateItem.name"/><br/><br/>
            数据类型:
            <select class="pub_select" ng-model="updateItem.type" ng-change="doSelectType()">
                <option value="{{item.reusltTypeId}}" ng-repeat="item in sourceTypeList">{{item.resultTypeName}}
                </option>
            </select>
        </div>
        <div class="col_part ck_pr" style="width:500px;margin:0 auto">
            <div class="dib">
                选择值:<br/>
                <ul style="padding-left:80px" class="dib">
                    <li ng-repeat="item in fieldIdAndNameList"><input type="checkbox"
                                                                      ng-click="updateCheckbox($event,item)"
                                                                      ng-checked="updateItem.mapRelationValue.split(',').indexOf(item.fieldId)!=-1"/>&nbsp;{{item.fieldName}}
                    </li>
                </ul>
            </div>
            <div class="dib ck_pa" style="top:0;right:0">
                <h3>访问参数选取:</h3>
                <p ng-repeat="item in sourceTypeDetailList">{{item.fieldName}}: {{item.fieldDesc}}</p>
            </div>
        </div>
    </section>
    <section class="tar padding_2px">
        <a class="ck_btn ck_btn_sure" ng-click="doUpload()">确定</a>
        <a class="ck_btn ck_btn_cancel" ng-click="cancel()">取消</a>
    </section>
</div>