<div class="col_part ck_bg_white" style="overflow: auto">
    <section>
        <h2>文件导出</h2>
    </section>
    <br/>
    <section>
        导出形式：<input type="radio" ng-click="updateItem.exportType='excel'"
                    ng-checked="updateItem.exportType=='excel'"/>
        excel
        <br/>
        <br/>
        文件名:<input type="text" class="pub_text" ng-model="updateItem.exportName"/>
        <br/>
        <br/>
        导出数据选择：<select class="pub_select" ng-change="doSelectType()" ng-model="updateItem.exportDataType">
        <option ng-repeat="item in exportTypeList" value="{{item.id}}">{{item.name}}</option>
    </select>
        <br/>
        <br/>
        导出数据选择：<select class="pub_select" ng-change="doSelectType()" ng-model="updateItem.dataSourceType">
        <option ng-repeat="item in sourceTypeList" value="{{item.reusltTypeId}}">{{item.resultTypeName}}</option>
    </select>
        <br/>
        <br/>
        选择值:<br/>
        <div style="padding-left: 100px">
            <div class="dib">
                <p ng-repeat="item in fieldIdAndNameList"><input type="checkbox"
                                                                 ng-click="updateCheckbox($event,item,'dataSourceTypeField')"
                                                                 ng-checked="checkIsCheck(item,'dataSourceTypeField')"/>{{item.fieldName}}
                </p>
            </div>
            &nbsp; &nbsp; &nbsp;
            <div class="dib">
                <p ng-repeat="item in analysisObjectNameList"><input type="checkbox"
                                                                     ng-click="updateCheckbox($event,item,'analysisLevel')"
                                                                     ng-checked="checkIsCheck(item,'analysisLevel')"/>{{item.fieldName}}
                </p>
            </div>
            &nbsp; &nbsp; &nbsp;
            <div class="dib">
                <p ng-repeat="item in analysisLevelList"><input type="checkbox"
                                                                ng-click="updateCheckbox($event,item,'analysisObjectName')"
                                                                ng-checked="checkIsCheck(item,'analysisObjectName')"/>{{item.fieldName}}
                </p>
            </div>
        </div>
    </section>
    <br/>
    <section class="tar padding_2px">
        <a class="ck_btn ck_btn_sure" ng-click="doUpload()">确定</a>
        <a class="ck_btn ck_btn_cancel" ng-click="cancel()">取消</a>
    </section>
</div>