<div class="col_part ck_bg_white" style="overflow: auto">
    <section>
        <h2>统计分析</h2>
    </section>
    <br/>
    <section>
        <div>统计名称:<input ng-model="updateItem.name" type="text" class="s"/></div>
        <br/>
        <div>
            选择数据类型：<br/><br/>
            <div ng-repeat="item in updateItem.dataType">
                <a class="ck_btn_sure" ng-click="doCreate('dataType')">+</a>
                <a class="ck_btn_danger" ng-click="doDeleteItem('dataType',$index)">--</a>
                <select ng-model="item.storageTypeTableId" ng-change="doGetWdList(item)">
                    <option ng-repeat="jtem in dataTypeList" value="{{jtem.storageTypeTableId}}">
                        {{jtem.storageTypeTableName}}
                    </option>
                </select>
                <a class="ck_font_blue" ng-disabeld="item.storageTypeTableId==''" ng-click="item.isShow=!item.isShow"
                   ng-init="item.isShow=false">&nbsp;&nbsp;--展开选择数据类型--&nbsp;&nbsp;</a>
                <br/>
                <div ng-repeat="jtem in dataTypeList"
                     ng-if="item.isShow&&item.storageTypeTableId==jtem.storageTypeTableId">
                    <br/>
                    <span>
                        <input type="checkbox" ng-click="doChooseAll($event,jtem.datasourceType,item)"/>全选
                    </span>
                    <span ng-repeat="ztem in jtem.datasourceType">
                         <input type="checkbox" ng-checked="item.datasourceType.indexOf(ztem.datasourceTypeId)!=-1"
                                ng-click="doChoose($event,ztem.datasourceTypeId,item)">{{ztem.datasourceTypeName}}
                    </span>
                </div>
            </div>
            <br/>
            语义层级：
            <select ng-model="updateItem.analysisHierarchy">
                <option ng-repeat="jtem in analysisHierarchyList" value="{{jtem.value}}">
                    {{jtem.name}}
                </option>
            </select>
        </div>
        <br/>
        <div ng-if="updateItem.dataType.length!=0">
            选择维度\条件：<br/><br/>
            <div ng-repeat="item in updateItem.fieldAndFilter">
                <a class="ck_btn_sure" ng-click="doCreate('fieldAndFilter')">+</a>
                <a class="ck_btn_danger" ng-click="doDeleteItem('fieldAndFilter',$index)">--</a>
                <select ng-model="item.fieldCategory">
                    <option ng-repeat="jtem in wdList.fieldCategoryList" value="{{jtem.fieldCategory}}">
                        {{jtem.fieldCategoryName}}
                    </option>
                </select>
                <select ng-model="item.fieldZh" ng-repeat="jtem in wdList.fieldCategoryList"
                        ng-if="jtem.fieldCategory==item.fieldCategory" ng-change="setFieldTypeOf(item)">
                    <option value="{{ztem.field}},{{ztem.fieldTypeOf}},{{ztem.fieldName}}"
                            ng-repeat="ztem in jtem.fieldList">
                        {{ztem.fieldName}}
                    </option>
                </select>
                <select ng-model="item.fieldType">
                    <option ng-repeat="jtem in wdList.fieldTypeList" value="{{jtem.value}}">{{jtem.name}}</option>
                </select>
                <select ng-model="item.conditionType" ng-if="item.fieldType=='condition'">
                    <option ng-repeat="jtem in wdList.conditionList"
                            ng-if="item.fieldTypeOf.indexOf(jtem.typeOf)!=-1" value="{{jtem.condition}}">
                        {{jtem.conditionName}}
                    </option>
                </select>
                <select ng-model="item.conditionExp" ng-repeat="jtem in wdList.conditionList"
                        ng-if="jtem.condition==item.conditionType&&item.fieldType=='condition'"
                        ng-change="createTimePicker(item.fieldTypeOf)">
                    <option ng-repeat="ztem in jtem.conditionExpList" value="{{ztem.conditionExp}}">
                        {{ztem.conditionExpName}}
                    </option>
                </select>
                <input ng-class="{true:'ck_datetime'}[item.fieldTypeOf.indexOf('datetime')!=-1]"
                       ng-if="item.fieldType=='condition'" type="text" ng-model="item.conditionValue"/>
                <span ng-if="item.conditionExp=='between'||item.conditionExp=='fromTo'">&nbsp;--&nbsp;</span>
                <input ng-class="{true:'ck_datetime'}[item.fieldTypeOf.indexOf('datetime')!=-1]"
                       ng-if="item.conditionExp=='between'||item.conditionExp=='fromTo'" type="text"
                       ng-model="item.conditionValue2"/>
            </div>
        </div>
        <br/>
        <div ng-if="updateItem.dataType.length!=0">
            统计结果:<br/><br/>
            <div ng-repeat="item in updateItem.statisticsObject">
                <a class="ck_btn_sure" ng-click="doCreate('statisticsObject')">+</a>
                <a class="ck_btn_danger" ng-click="doDeleteItem('statisticsObject',$index)">--</a>
                对象:
                <select ng-model="item.fieldZh" ng-change="setFieldTypeOf(item)">
                    <option ng-repeat="jtem in wdList.fieldList"
                            value="{{jtem.field}},{{jtem.fieldTypeOf}},{{jtem.fieldName}}">
                        {{jtem.fieldName}}
                    </option>
                </select>
                <select ng-model="item.type">
                    <option ng-repeat="jtem in wdList.statisticsType" ng-if="item.fieldTypeOf.indexOf(jtem.typeOf)!=-1"
                            value="{{jtem.type}}">{{jtem.typeName}}
                    </option>
                </select>
            </div>
        </div>
    </section>
    <br/>
    <section class="tar padding_2px">
        <a class="ck_btn ck_btn_sure" ng-click="doUpload()">确定</a>
        <a class="ck_btn ck_btn_cancel" ng-click="cancel()">取消</a>
    </section>
</div>