<div class="col_part ck_bg_white">
    <section>
        <h2>话题分析定义</h2>
    </section>
    <br/>
    <section class="ck_pr">
        <span>结果名：</span><input type="text" ng-model="updateItem.resultName"/><br/><br/>
        话题层级:<select class="pub_select" ng-model="updateItem.hotspotsLevel">
        <option value="1">一层</option>
        <option value="2">二层</option>
        <option value="3">三层</option>
    </select>
        打分方式:<select class="pub_select" ng-model="updateItem.scoringWay">
        <option value="1">标准</option>
        <option value="2">近期加权</option>
    </select>
        结构策略:<select class="pub_select" ng-model="updateItem.resultsStrategyType">
        <option value="1">无限</option>
    </select>
    </section>
    <br/>
    <section>
        <div>
            启动频次:<input type="radio" ng-checked="updateItem.startFreqType==1"
                        ng-click="updateItem.startFreqType=1;resetValue()"
                        name="freg"/> 单次执行<input type="radio" ng-checked="updateItem.startFreqType>1"
                                                 ng-click="updateItem.startFreqType=2;resetValue()" name="freg"/>循环执行
        </div>
        <br/>
        <div ng-if="updateItem.startFreqType>1">
            <div>
                循环设置:每次处理<select class="pub_select" ng-model="updateItem.handleHour">
                <option value="24">24小时</option>
                <option value="36">36小时</option>
                <option value="72">72小时</option>
            </select>
            </div>
            <br/>
            <div style="padding-left: 120px">
                <div>
                    <input type="radio" name="freg2" ng-checked="updateItem.startFreqType==2"
                           ng-click="updateItem.startFreqType=2;resetValue()"/>&nbsp;每日&nbsp;<a
                        class="ck_btn" style="margin:2px"
                        ng-repeat="item in hourList"
                        ng-class="{true:'ck_bg_rosiness',false:'ck_bg_sky-blue'}[updateItem.startFreqType=='2'&&updateItem.startFreqValue.split(',').indexOf(item)!=-1]"
                        ng-click="chooseThis(item,2)">&nbsp;{{item}}&nbsp;</a>
                </div>
                <br/>
                <div>
                    <input type="radio" name="freg2" ng-checked="updateItem.startFreqType==3"
                           ng-click="updateItem.startFreqType=3;resetValue()"/>&nbsp;每周&nbsp;<a
                        class="ck_btn ck_bg_sky-blue" style="margin: 0 2px"
                        ng-repeat="item in wakeList"
                        ng-class="{true:'ck_bg_rosiness',false:'ck_bg_sky-blue'}[updateItem.startFreqType=='3'&&updateItem.startFreqValue.split(',').indexOf(item)!=-1]"
                        ng-click="chooseThis(item,3)">
                    &nbsp;{{item==1?"周一":item==2?"周二":item==3?"周三":item==4?"周四":item==5?"周五":item==6?"周六":item==7?"周日":""}}&nbsp;</a>
                </div>
                <br/>
                <div>
                    <input type="radio" name="freg2" ng-checked="updateItem.startFreqType==4"
                           ng-click="updateItem.startFreqType=4;resetValue()"/>&nbsp;每月&nbsp;
                    <input ng-if="updateItem.startFreqType==4" class="shortInput tac"
                           type="number" min="1" max="31" step="1" ng-model="updateItem.startFreqValue"
                           style="border-bottom: 1px solid black"
                           ng-blur="checkNum()"/>
                    <span ng-if="updateItem.startFreqType!=4">_____________</span>
                    日
                </div>
            </div>
        </div>
    </section>
    <br/>
    <section>
        <div>
            关系:&nbsp<select class="pub_select" ng-model="updateItem.relationship">
            <option value="1">或</option>
            <option value="2">与</option>
        </select>
        </div>
        <br/>
        <div>
            主题域:<br/>
            <div style="padding-left: 100px;margin-bottom: 5px" ng-repeat="item in updateItem.subjectAresList">
                <a class="ck_btn ck_btn_cancel" ng-click="doDelete(item)">-</a>
                <select class="pub_select" ng-model="item.aresId">
                    <option ng-repeat="jtem in themeList.ares" value="{{jtem.id}}">{{jtem.name}}</option>
                </select>&nbsp<a class="ck_btn ck_btn_sure" ng-click="chooseAll(item)" style="margin:2px">全部</a>
                <a class="ck_btn" style="margin:2px"
                   ng-class="{true:'ck_bg_rosiness',false:'ck_bg_sky-blue'}[item.subjectIds.split(',').indexOf(ztem.id+'')!=-1]"
                   ng-if="item.aresId==ztem.pid"
                   ng-click="chooseTheme(item,ztem)"
                   ng-repeat="ztem in themeList.subject">{{ztem.name}}</a>
            </div>
            <div style="padding-left: 50px;margin-bottom: 5px">
                <a ng-if="themeList.ares.length>updateItem.subjectAresList.length" class="ck_btn ck_btn_sure"
                   ng-click="doAdd()">+</a>
            </div>
            <br>
            <br>
            <button class="ck_btn ck_bg_blue" data-toggle="modal" data-target="#myModal"  >选择话题定义</button>
            <!-- 模态框（Modal） -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="myModalLabel" >选择话题</h4>
                        </div>
                        <div class="modal-body">
                            <div class="panel-body">
                                <div class="topicItem" ng-repeat="item in topicList">
                                    <a class="toggleClose">
                                        <span ng-click="toggleClose(item)">{{item.close ? " - " : "+"}}</span>
                                    </a>  {{item.projectName}}
                                        <div class="topicItemList" data-name="{{item.projectName}}" ng-show="item.close" ng-repeat="list in item.topicList">
                                            <input type="checkbox" ng-checked="checkedTopic(list)"   value="{{list.name}}"> {{list.name}}
                                        </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="ck_btn ck_btn_cancel" data-dismiss="modal">关闭</button>
                            <button type="button" class="ck_btn ck_bg_blue" ng-click="getAllChecked()" data-dismiss="modal">确认</button>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal -->
            </div>
             <div style="width: 500px;padding:10px 0">
                 <a ng-repeat="item in updateItem.topicList">
                     <span ng-repeat="topic in item.topicList" style="margin-right: 10px">{{topic.name}}</span>
                 </a>
             </div>
            <!--<div style="padding-left: 100px;margin-bottom: 5px">
                调性主题:&nbsp<a class="ck_btn ck_bg_sky-blue" style="margin:2px">全部</a>
                <a class="ck_btn ck_bg_sky-blue" style="margin:2px">正面</a>
                <a class="ck_btn ck_bg_sky-blue" style="margin:2px">中性</a>
                <a class="ck_btn ck_bg_sky-blue" style="margin:2px">负面</a>
            </div>-->
        </div>
    </section>
    <section class="tar padding_2px">
        <a class="ck_btn ck_btn_sure" ng-click="doUpload()">确定</a>
        <a class="ck_btn ck_btn_cancel" ng-click="cancel()">取消</a>
    </section>
</div>