@font-face {
    font-family: 'flashfont';
    src: url('../font/flashfont.ttf'), url("http://mcfs2dev.hyfay.com/css/font/flashfont.ttf");
}

body {
    opacity: 0;
    animation-name: showBody;
    animation-delay: 0.5s;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes showBody {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

.bg_gray {
    background-color: RGB(204, 204, 204)
}

.normal_img {
    height: 40px;
    width: 40px;
}

.pub_text, .pub_select, .pub_datepick {
    font-size: 14px;
    padding: .5em 1em .5em 2em;
    width: 100%;
    max-width: 8em;
}

.pub_datepick {
    background: url("../../images/glyphicons/png/glyphicons-649-important-day.png") 5px 1px no-repeat;
}

.pub_text {
    background: url("../../images/glyphicons/png/glyphicons-105-text-strike.png") 5px 3px no-repeat;
}

.pub_select {
    background: url("../../images/glyphicons/png/glyphicons-115-list.png") 2px 6px no-repeat;
}

.input_size200 {
    max-width: 200px;
}

.downIcon {
    position: absolute;
    top: 40%;
    right: 2em;
}

.col_part {
    padding: .5em;
}

.toolbar {
    border: 1px solid #F5F5F5;
    padding: 1em;
}

.panel {
    margin: 0 auto;
    width: 80%;
    padding: 1.5em;
    min-height: 500px;
}

.btn_border {
    border: 1px solid #337ab7;
    color: #337ab7;
}

.flowProgress {
    width: 100%;
    height: 300px;
    text-align: center;
    line-height: 300px;
    margin: .8em 0;
}

.progressgroup li {
    display: inline-block;
    position: relative;
}

.circular_progress {
    padding: .3em .8em;
    border: 1px;
    font-size: 12px;
    border-radius: 100%;
}

.circular_progress_text {
    position: absolute;
    line-height: normal;
    top: 60%;
    left: -100%;
    width: 80px;
    color: #000000;
}

.detailBox {
    border: 1px solid #F5F5F5;
    padding: 1em;
    min-height: 8em;
}

.alertBox {
    text-align: center;
    position: fixed;
    box-shadow: 0 15px 15px gray;
    top: 35%;
    left: 45%;
    width: 300px;
    height: 200px;
    background: #FFFFFF;
}

.alertBox p {
    padding: 3em 0;
}

@media (max-width: 768px) {
    .alertBox {
        left: 10%
    }
}

.dataListSource {
    display: inline-block;
    position: relative;
}

.dataListSource > li, .dataListSource > span, .datalist > a {
    margin: .3em .5em;
    display: inline-block;
    min-width: 100px;
    position: relative;
    padding: .9em 1.2em;
}

@media (max-width: 786px) {
    .fixedBox {
        left: 10%
    }
}

.tabGroup {
    width: 100%;
    height: 40px;
    overflow: hidden;
    position: relative;
}

.order {
    position: absolute;
    left: 100%;
    bottom: 0%;
}

.order > li {
    font-size: 12px;
    height: 1em;
    overflow: hidden;
}

.chevron-up {
    background: url('../../images/glyphicons/png/glyphicons-601-chevron-up.png') no-repeat;
    background-size: 100% 100%;
}

.chevron-up {
    background: url('../../images/glyphicons/png/glyphicons-602-chevron-down.png') no-repeat;
    background-size: 100% 100%;
}

.editPoint {
    background: url('../../images/glyphicons/png/glyphicons-31-pencil.png') no-repeat;
    background-size: 100% 100%;
    display: inline-block;
    width: 1em;
    height: 1em;
}

.order > .active > a {
    color: red;
}

.fileInput {
    width: 80px;
    height: 30px;
}

.shortInput {
    border: 0;
    width: 90px
}

.dataListBox {
    width: 100%;
    max-height: 450px;
    overflow-y: auto;
}

.dataListMinBox {
    width: 100%;
    max-height: 180px;
    overflow-y: auto;
}

.workFlowBox {
    min-height: 450px;
    width: 100%;
}

.minInputSize {
    width: 48px;
}

.downIcon {
    position: absolute;
    font-size: 20px;
    right: 10%;
    top: 30%;
}

.activeLi > .downIcon {
    transition: 1s all;
    transform: rotate(90deg);
}
.hide{
    display: none;
}
.text-danger{
    color:red !important;
}
.text-muted{
    color:#98a6ad;
}
.topicItemList{
    padding-left: 30px;
}
.panel-body{
    border: 1px solid #ccc;
    padding: 10px;
    overflow-y: scroll;
    border-radius: 5px;
    max-height: 300px;
}
.toggleClose{
    display: inline-block;
    border: 1px solid #cccc;
    border-radius: 2px;
    padding: 2px 4px;
    background-color: #7c9dbc;
    color: white;
}
.topicItem{
    margin-bottom: 5px;
}