<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>数据项目管理</title>
    <link rel="stylesheet" href="../../../css/common/common.css">
    <link rel="stylesheet" href="../../../css/public/api/main.css">
    <link rel="stylesheet" href="../../../css/public/index.css">
</head>
<body class="ck_bg_deepblack" ng-controller="controller">
<input id="http" type="hidden" value="../../..">
<input id="mapJson" type="hidden"
       value='{"projectId":1,"obj":{"typeNo":"semanticAnalysisObject","url":"../../workFlow/semanticAnalysisObject.html"},"pre":"123","next":"123","finish":"123","status":"0"}'>
<div class="ck_topbar ck_bg_kon">
    <div class="ck_title_font ck_title ck_font_white">数据项目管理系统</div>
    <nav class="ck_nav_topList ck_fr">
        <ul>
            <li class="ck_pr"><a ck-controlsdefaultclick="avater" class="ck_btn"><img class="ck_avatar"
                                                                                      src="../../../images/avater/ee.jpg">
            </a>
                <div ck-defaultclick="avater" class="ck_popup_auto ck_bg_sky-blue ck_popup_bright ck_dn">
                    <a class="ck_font_white" href="#">logout</a>
                </div>
            </li>
        </ul>
    </nav>
    <span ck-controlsnav="menu" class="ck_nav_menu_btn"></span>
    <nav ck-nav="menu" id="testMenu" class="ck_nav_menu ck_font_white">
        <ul class="ck_vertical_menu">
            <li ck-controlsdefaultclick="projectManager">项目管理</li>
            <ul class="ck_dn" ck-defaultclick="projectManager">
                <li><a href="../listPage/projectListPage.html">项目列表</a></li>
                <li><a href="../createPage/projectCreatePage.html">新建项目</a></li>
            </ul>
        </ul>
    </nav>
</div>
<div class="ck_content ck_leftbar_250px ck_bg_gray">
    <section class="bg_gray">
        <div class="ck_part">
            <h3>语义分析对象设置</h3>
        </div>
    </section>
    <br/>
    <section class="ck_pr">
        <ul class="ck_tab">
            <li class="active">语义分析对象列表</li>
        </ul>
    </section>
    <section class="table-responsive">
        <div class="dataListMinBox">
            <table class="ck_table ck_table_line">
                <thead class="bg_gray">
                <tr>
                    <th><span class="ck_pr"> 序号</span>
                    </th>
                    <th>数据类型</th>
                    <th><span class="ck_pr"> 分析对象
                    <ul class="order">
                        <li ng-class="{true:'active'}[sortStatus=='analysisObjectName']">
                            <a ng-click="selectOrder('analysisObjectName')">A</a></li>
                       <li ng-class="{true:'active'}[sortStatus=='-analysisObjectName']">
                           <a ng-click="selectOrder('-analysisObjectName')">D</a></li>
                    </ul>
                </span></th>
                    <th>句级</th>
                    <th>段级</th>
                    <th>文级</th>
                    <th>操作</th>
                </thead>
                <tbody class="ck_bg_white">
                <tr ng-repeat="item in dataList | orderBy:sortStatus">
                    <td>{{item.paramId}}</td>
                    <td>{{item.dataSourceTypeName}}</td>
                    <td>{{item.analysisObjectName}}</td>
                    <td>{{item.sentence}}</td>
                    <td>{{item.section}}</td>
                    <td>{{item.article}}</td>
                    <td><a class="ck_font_rosiness" ng-click="doUpdate(item,1)">&nbsp;编辑&nbsp;</a><a
                            class="ck_font_rosiness" ng-click="doUpdate(item,0)">&nbsp;不定义&nbsp;</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </section>
    <br/>
    <section id="workFlowPart" class="workFlowBox"></section>
    <section>
        <div class="toolbar tac">
            <span ng-if="isCreate==0">
            <a class="ck_btn ck_btn_sure" ng-click="goPre()">上一步</a>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a class="ck_btn ck_btn_success" ng-click="goNext()">下一步</a>
            </span>
            <span ng-if="isCreate==1">
            <a class="ck_btn ck_btn_success" ng-click="goIndex()">完成</a>
            </span>
        </div>
    </section>
</div>
<script src="../../../js/lib/require.js"></script>
<script src="../../../js/config.js"></script>
<script src="../../../js/view/projectManager/workFlowLayoutPage/semanticAnalysisObjectPage.js"></script>
</body>
</html>