<div class="ck_topbar ck_bg_kon">
    <div class="ck_title_font ck_title ck_font_white">数据项目管理系统</div>
    <nav class="ck_nav_topList ck_fr">
        <ul>
            <li class="ck_pr"><a ck-controlsdefaultclick="avater" class="ck_btn"><img class="ck_avatar"
                                                                                      src="${staticAddress}/images/avater/ee.jpg">
            </a>
                <div ck-defaultclick="avater" class="ck_popup_auto ck_bg_sky-blue ck_popup_bright ck_dn">
                    <a class="ck_font_white" href="/logout.html">logout</a>
                </div>
            </li>
        </ul>
    </nav>
    <span ck-controlsnav="menu" class="ck_nav_menu_btn"></span>
    <nav ck-nav="menu" id="testMenu" class="ck_nav_menu ck_font_white">
        <#list menus as item>
            <ul class="ck_vertical_menu">
                <li ck-controlsdefaultclick="menu${item.id}">${item.name} <span class="downIcon"> > </span></li>
                <ul class="ck_dn ck_bg_blue" ck-defaultclick="menu${item.id}">
                    <#list item.subMenu as jtem>
                        <li><a href="${jtem.url}">${jtem.name}</a></li>
                    </#list>
                </ul>
            </ul>
        </#list>
    </nav>
</div>