<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>数据项目管理</title>
    <#include "../../module/css.html">
        <link rel="stylesheet" href="${staticAddress}/css/lib/font-awesome.min.css">
        </head>
<body class="ck_bg_deepblack" ng-controller="controller">
<input id="http" type="hidden" value="${staticAddress}">
<input id="mapJson" type="hidden" value='${mapJson}'>
<#include "../../module/top.html">
    <div class="ck_content ck_leftbar_250px ck_bg_gray">
        <section class="bg_gray">
            <div class="ck_part">
                <h3>数据导入</h3>
            </div>
        </section>
        <br/>
        <section class="ck_pr">
            <ul class="ck_tab">
                <li class="active">数据导入列表</li>
            </ul>
            <a class="ck_pa ck_bg_rosiness ck_btn" ng-click="settingData()" style="right:40px;bottom:0">+</a>
        </section>
        <section class="table-responsive">
            <div class="dataListMinBox">
                <table class="ck_table ck_table_line">
                    <thead class="bg_gray">
                    <tr>
                        <th><span class="ck_pr"> 文件名
                    <ul class="order">
                        <li ng-class="{true:'active'}[sortStatus=='name']">
                            <a ng-click="selectOrder('name')">A</a></li>
                       <li ng-class="{true:'active'}[sortStatus=='-name']">
                           <a ng-click="selectOrder('-name')">D</a></li>
                    </ul>
                </span>
                        </th>
                        <th><span class="ck_pr"> 导入时间
                    <ul class="order">
                        <li ng-class="{true:'active'}[sortStatus=='updatedDate']">
                            <a ng-click="selectOrder('updatedDate')">A</a></li>
                       <li ng-class="{true:'active'}[sortStatus=='-updatedDate']">
                           <a ng-click="selectOrder('-updatedDate')">D</a></li>
                    </ul>
                </span></th>
                        <th>数据类型</th>
                        <th>数据总量</th>
                        <th>状态</th>
                        <th>操作</th>
                    </thead>
                    <tbody class="ck_bg_white">
                    <tr ng-repeat="item in dataList | orderBy:sortStatus">
                        <td>{{item.name}}</td>
                        <td>{{item.updatedDate}}</td>
                        <td>{{item.typeName}}</td>
                        <td>{{item.count}}</td>
                        <td>
                            <span ng-if="item.jobStatus=='0'">初始</span>
                            <div ng-if="item.jobStatus=='1'" class="ck_progress"
                                 ck-controlsprogress="progressDataImport{{item.paramId}}">
                                <div class="ck_bg_popcorn ck_pa" ck-progress="progressDataImport{{item.paramId}}"
                                     progress-value="{{item.jobProgress}}">
                                </div>
                            </div>
                            <span ng-if="item.jobStatus=='2'">已完成</span>
                            <span ng-if="item.jobStatus=='9'" onmouseenter="showAlt(this)" onmouseleave="hideAlt()"
                                  message="{{item.errorMsg}}">错误</span>
                        </td>
                        <td><a class="ck_font_rosiness" ng-if="item.isStart==1" target="_blank"
                               href="/toDataModular.html?projectId={{projectId}}&paramId={{item.paramId}}&typeNo=dataImport">
                            &nbsp;查看&nbsp;</a><a
                                class="ck_font_rosiness" ng-click="doDelete(item.paramId)">&nbsp;删除&nbsp;</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </section>
        <section id="workFlowPart" class="workFlowBox">

        </section>
        <section>
            <div class="toolbar tac">
            <span ng-if="isCreate==0">
            <a class="ck_btn ck_btn_sure" ng-click="goPre()">上一步</a>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a class="ck_btn ck_btn_success" ng-click="goNext()">下一步</a>
            </span>
                <span ng-if="isCreate==1">
            <a class="ck_btn ck_btn_success" ng-click="goIndex()">完成</a>
            </span>
            </div>
        </section>
    </div>
    <#include "../../module/script.html">
        <script src="${staticAddress}/js/view/projectManager/workFlowLayoutPage/dataImportPage.js"></script>
</body>
</html>