<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>数据项目管理</title>
    <link rel="stylesheet" href="${staticAddress}/css/public/modal.css">
    <#include "../../module/css.html">
        </head>
<body class="ck_bg_deepblack" ng-controller="controller">
<input id="http" type="hidden" value="${staticAddress}">
<input id="mapJson" type="hidden" value='${mapJson}'>
<#include "../../module/top.html">
    <div class="ck_content ck_leftbar_250px ck_bg_gray">
        <section class="bg_gray">
            <div class="ck_part">
                <h3>话题分析设置</h3>
            </div>
        </section>
        <br/>
        <section class="ck_pr">
            <ul class="ck_tab">
                <li class="active">话题分析列表</li>
                <a class="ck_pa ck_bg_rosiness ck_btn" ng-click="settingData(0)" style="right:40px;bottom:0">+</a>
            </ul>
        </section>
        <section class="table-responsive">
            <div class="dataListMinBox">
                <table class="ck_table ck_table_line">
                    <thead class="bg_gray">
                    <tr>
                        <th><span class="ck_pr"> 序号</span>
                        </th>

                        <th><span class="ck_pr"> 名称
                    <ul class="order">
                        <li ng-class="{true:'active'}[sortStatus=='resultName']">
                            <a ng-click="selectOrder('resultName')">A</a></li>
                       <li ng-class="{true:'active'}[sortStatus=='-resultName']">
                           <a ng-click="selectOrder('-resultName')">D</a></li>
                    </ul>
                </span></th>
                        <th>话题层级</th>
                        <th>打分方式</th>
                        <th>启动频次</th>
                        <th>定义</th>
                        <th>操作</th>
                    </thead>
                    <tbody class="ck_bg_white">
                    <tr ng-repeat="item in dataList | orderBy:sortStatus">
                        <td>{{item.paramId}}</td>
                        <td>{{item.resultName}}</td>
                        <td>{{item.hotspotsLevel}}</td>
                        <td>{{item.scoringWayName }}</td>
                        <td>{{item.startFreqTypeName }}</td>
                        <td>{{item.definitionName }}</td>
                        <td><a class="ck_font_rosiness" ng-click="settingData(1,item)">&nbsp;编辑&nbsp;</a><a
                                class="ck_font_rosiness" ng-click="doDeleteItem(item.paramId)">&nbsp;删除&nbsp;</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </section>
        <br/>
        <section id="workFlowPart" class="workFlowBox">

        </section>
        <section>
            <div class="toolbar tac">
            <span ng-if="isCreate==0">
            <a class="ck_btn ck_btn_sure" ng-click="goPre()">上一步</a>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a class="ck_btn ck_btn_success" ng-click="goNext()">下一步</a>
            </span>
                <span ng-if="isCreate==1">
            <a class="ck_btn ck_btn_success" ng-click="goIndex()">完成</a>
            </span>
            </div>
        </section>
    </div>
    <#include "../../module/script.html">
        <script src="${staticAddress}/js/view/projectManager/workFlowLayoutPage/topicAnalysisDefinitionPage.js"></script>
</body>
</html>