<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>数据项目管理</title>
    <link rel="stylesheet" href="../../css/common/common.css">
    <link rel="stylesheet" href="../../css/public/api/main.css">
    <link rel="stylesheet" href="../../css/public/index.css">
    <link rel="stylesheet" href="../../css/view/login/login.css">
</head>
<body class="ck_bg_kon" ng-controller="logincontroller">
<input id="http" type="hidden" value="../..">
<div class="ck_container">
    <div class="ck_centerBox">
        <div class="loginBox">
            <span class="systemTitle">数据项目管理</span>
            <h2>登陆操作</h2>
            <div class="ck_pr">
                <span class="ck_userIcon icon_pa"></span>
                <input ng-change="checkUserName(this)" ng-model="username" class="text_username ck_form_default"
                       placeholder="用户名" type="text" maxlength="20"/></div>
            <div class="ck_pr">
                <span class="ck_passwordIcon icon_pa"></span>
                <input ng-change="checkPassword(this)" ng-model="password" class="text_password ck_form_default"
                       placeholder="密码" type="password" maxlength="30"/></div>
            <p class="margin_top_bottom" style="width:80%;display: inline-block">
                <span class="ck_fl"><input class="ck_checkbox" type="checkbox" ng-model="remember"/> &nbsp;&nbsp;&nbsp;&nbsp;记住我</span>
                <span id="messageBox" class="ck_font_rosiness">{{message}}</span>
            </p>
            <a class="ck_btn ck_btn_sure" ng-click="doLogin()" style="width:80%">登陆</a>
        </div>
    </div>
</div>
<script src="../../js/lib/require.js"></script>
<script src="../../js/config.js"></script>
<script src="../../js/view/login/login.js"></script>
</body>
</html>