<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>数据项目管理</title>
    <link rel="stylesheet" href="../../../css/common/common.css">
    <link rel="stylesheet" href="../../../css/public/api/main.css">
    <link rel="stylesheet" href="../../../css/public/index.css">
    <style>
        .item_box {
            display: inline-block;
            width: 160px;
            height: 200px;
            border: 1px solid #ffffff;
            margin: 1em
        }

        .item_box_hover {
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, .5);
            text-align: center;
            box-shadow: 0 0 15px #000000;
            top: 0;
            left: 0;
            display: none;
            z-index: 99;
        }

        .item_box_img {
            width: 100%;
            height: 100%;
        }

        .item_box:hover > .item_box_hover {
            display: inline-block;
        }

        .item_box_btn {
            display: inline-block;
            margin-top: 50%;
            padding: .5em .7em;
            color: #fff;
            border: 1px solid #ffffff;
        }
    </style>
</head>
<body class="ck_bg_deepblack" ng-controller="controller">
<input id="http" type="hidden" value="../../../">
<input id="mapJson" type="hidden" value='{"projectId":1,"url":"123"}'>
<div class="ck_topbar ck_bg_kon">
    <div class="ck_title_font ck_title ck_font_white">数据项目管理系统</div>
    <nav class="ck_nav_topList ck_fr">
        <ul>
            <li class="ck_pr"><a ck-controlsdefaultclick="avater" class="ck_btn"><img class="ck_avatar"
                                                                                      src="../../../images/avater/ee.jpg">
            </a>
                <div ck-defaultclick="avater" class="ck_popup_auto ck_bg_sky-blue ck_popup_bright ck_dn">
                    <a class="ck_font_white" href="#">logout</a>
                </div>
            </li>
        </ul>
    </nav>
    <span ck-controlsnav="menu" class="ck_nav_menu_btn"></span>
    <nav ck-nav="menu" id="testMenu" class="ck_nav_menu ck_font_white">
        <ul class="ck_vertical_menu">
            <li ck-controlsdefaultclick="projectManager">项目管理 <span class="downIcon"> > </span></li>
            <ul class="ck_dn ck_bg_blue" ck-defaultclick="projectManager">
                <li><a href="../listPage/projectListPage.html">项目列表</a></li>
                <li><a href="../createPage/projectCreatePage.html">新建项目</a></li>
            </ul>
        </ul>
    </nav>
</div>
<div class="ck_content ck_leftbar_250px ck_bg_gray">
    <section class="table-responsive">
        <ul class="ck_tab">
            <li class="active">可视化图表</li>
        </ul>
        <a class="ck_pa ck_btn_danger ck_btn" style="right:50px;top:8px"
           href="/visualization/toVisualizationTemplate.html?projectId={{projectId}}">制作报表</a>
    </section>
    <section class="table-responsive">
        <div class="dataListBox">
            <table class="ck_table ck_table_line">
                <thead class="bg_gray">
                <tr>
                    <th><span class="ck_pr"> 编号 </span>
                    </th>
                    <th><span class="ck_pr"> 名称
                    <ul class="order">
                        <li ng-class="{true:'active'}[searchParamter.sortStatus=='name asc']">
                            <a ng-click="selectOrder('start_time asc')">A</a></li>
                       <li ng-class="{true:'active'}[searchParamter.sortStatus=='name desc']">
                           <a ng-click="selectOrder('start_time desc')">D</a></li>
                    </ul>
                </span></th>
                    <th>更新时间</th>
                    <th>操作</th>
                </thead>
                <tbody class="ck_bg_white">
                <tr ng-repeat="item in dataList">
                    <td>{{item.id}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.lastmodifyTime}}</td>
                    <td>
                        <a class="ck_font_green" ng-click="showImg('/visualization/getImage.json?image='+item.image)">
                            &nbsp;&nbsp;预览&nbsp;&nbsp;</a>
                        <a class="ck_font_green" href="/visualization/getImage.json?image={{item.image}}">&nbsp;&nbsp;下载&nbsp;&nbsp;</a>
                        <a class="ck_font_sky-blue"
                           href="/visualization/toVisualizationPlatform.html?visId={{item.id}}">&nbsp;&nbsp;编辑&nbsp;&nbsp;</a>
                        <a class="ck_font_rosiness" ng-click="deleteItem(item.id)">&nbsp;&nbsp;删除&nbsp;&nbsp;</a>
                    </td>
                </tr>
                </tbody>
            </table>
            <div id="myAlt" class="ck_pa ck_bg_gunjyo ck_dn"
                 style="max-width:300px;color:#FFFFFF;left:40%;top:50%;padding: 0.5em 1em;font-size:14px;border-radius:6px">
            </div>
        </div>
        <div class="toolbar ck_bg_white" ng-if="totalPage>1">
            <ul class="ck_pagination">
                <li><a ng-click="searchList('first')"
                       ng-class="{true:'disable'}[searchParamter.page=='1']">《</a>
                </li>
                <li><a ng-click="searchList('pre')"
                       ng-class="{true:'disable'}[searchParamter.page=='1']">上一步</a>
                </li>
                <li><span>当前页:{{searchParamter.page}}，共{{totalPage}}页</span></li>
                <li><a ng-click="searchList('next')"
                       ng-class="{true:'disable'}[searchParamter.page==totalPage]">下一步</a></li>
                <li><a ng-click="searchList('last')"
                       ng-class="{true:'disable'}[searchParamter.page==totalPage]">》</a></li>
            </ul>
        </div>
    </section>
    <section ng-if="isShowImg"
             style="text-align:center;position:fixed;top:0;left:0;width:100%;height:100%;background-color:rgba(0,0,0,.5)">
        <a class="ck_btn ck_btn_cancel ck_pa" ng-click="cancelShowImg()" style="right:5px;top:5px;">X</a>
        <img src="{{showImgSrc}}"/>
    </section>
</div>
<script src="../../../js/lib/require.js"></script>
<script src="../../../js/config.js"></script>
<script src="../../../js/view/visualization/visualizationList/visualizationList.js"></script>
</body>
</html>