<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>数据项目管理</title>
    <#include "../module/css.html">
    <link rel="stylesheet" href="${staticAddress}/css/lib/combo.select.css">
</head>
<body class="ck_bg_deepblack" ng-controller="controller">
<input id="http" type="hidden" value="${staticAddress}">
<#include "../module/top.html">
    <div class="ck_content ck_leftbar_250px ck_bg_gray">
        <section class="bg_gray">
            <div class="ck_part">
                <h3>项目列表</h3>
            </div>
        </section>
        <br/>
        <section>
            <ul class="ck_tab">
                <li class="active">筛选条件查看</li>
            </ul>
            <div class="toolbar ck_bg_white ck_pr">
                <div class="ck_part">
                    数据源:&nbsp
                    <select id="datasource" ng-model="searchParamter.datasourceId" ng-change="setDatasourceTypeList()">
                        <option value="">全部</option>
                        <option ng-repeat="item in datasourceList" value="{{item.datasourceId}}">{{item.datasourceName}}
                        </option>
                    </select>
                </div>
                <div class="ck_part">
                    数据源类型:&nbsp
                    <select class="pub_select" style="width:auto" ng-model="searchParamter.datasourceTypeId">
                        <option value="">全部</option>
                        <option ng-repeat="item in datasourceTypeList" value="{{item.typeId}}">{{item.typeName}}</option>
                    </select>
                </div>
                <div class="ck_part">
                    状态:&nbsp<select class="pub_select" style="width:auto" ng-model="searchParamter.status">
                    <option value="">全部</option>
                    <option ng-repeat="item in statusList" value="{{item.value}}">{{item.name}}</option>
                </select>
                </div>
                <div class="ck_part ck_fr">
                    <a class="ck_btn ck_btn_sure" ng-click="searchList('reset')">查询</a>
                </div>
                <div class="ck_part ck_fr">
                    <a class="ck_btn ck_bg_rosiness ck_font_white" ng-click="editItem(1)">添加数据源</a>
                </div>
            </div>
        </section>
        <br/>
        <section class="table-responsive">
            <div class="dataListBox">
                <table class="ck_table ck_table_line">
                    <thead class="bg_gray">
                    <tr>
                        <th><span class="ck_pr"> 编号
                    <ul class="order">
                        <li ng-class="{true:'active'}[searchParamter.sortStatus=='id asc']">
                            <a ng-click="selectOrder('id asc')">A</a></li>
                       <li ng-class="{true:'active'}[searchParamter.sortStatus=='id desc']">
                           <a ng-click="selectOrder('id desc')">D</a></li>
                    </ul>
                </span>
                        </th>
                        <th>数据源</th>
                        <th>数据源类型</th>
                        <th><span class="ck_pr"> 配置对象</span></th>
                        <th><span class="ck_pr"> 配置内容 </span></th>
                        <th>状态</th>
                        <th>最后编辑时间</th>
                        <th>操作者</th>
                        <th>操作</th>
                    </thead>
                    <tbody class="ck_bg_white">
                    <tr ng-repeat="item in dataList">
                        <td>{{item.id}}</td>
                        <td>{{item.datasourceName}}</td>
                        <td><a onmouseenter="showAlt(this)" onmouseleave="hideAlt()"
                               message="{{item.datasourceTypeName}}">{{item.datasourceTypeName.length<11?item.datasourceTypeName:item.datasourceTypeName.substr(0,10)}}</a>
                        </td>
                        <td>{{item.confObject}}</td>
                        <td>{{item.confField}}</td>
                        <td>{{item.statusName}}</td>
                        <td>{{item.updatedTime}}</td>
                        <td>{{item.updatedBy}}
                        </td>
                        <td>
                            <a class="ck_font_rosiness" ng-click="editItem(0,item)">&nbsp;编辑&nbsp;</a>
                            <a class="ck_font_rosiness" ng-if="item.status=='0'" ng-click="doStart(item.id)">
                                &nbsp;启动&nbsp;</a>
                            <a class="ck_font_rosiness" ng-if="item.status=='1'" ng-click="doStop(item.id)">
                                &nbsp;失效&nbsp;</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div id="myAlt" class="ck_pa ck_bg_gunjyo ck_dn"
                     style="max-width:300px;color:#FFFFFF;left:40%;top:50%;padding: 0.5em 1em;font-size:14px;border-radius:6px">
                </div>
            </div>
            <div class="toolbar ck_bg_white" ng-if="totalPage>1">
                <ul class="ck_pagination">
                    <li><a ng-click="searchList('first')"
                           ng-class="{true:'disable'}[searchParamter.page=='1']">《</a>
                    </li>
                    <li><a ng-click="searchList('pre')"
                           ng-class="{true:'disable'}[searchParamter.page=='1']">上一步</a>
                    </li>
                    <li><span>当前页:{{searchParamter.page}}，共{{totalPage}}页</span></li>
                    <li><a ng-click="searchList('next')"
                           ng-class="{true:'disable'}[searchParamter.page==totalPage]">下一步</a></li>
                    <li><a ng-click="searchList('last')"
                           ng-class="{true:'disable'}[searchParamter.page==totalPage]">》</a></li>
                </ul>
            </div>
        </section>
        <div ng-if="isShowAlt" class="alertBox" style="width:500px;height:auto;max-height:450px;overflow-y: auto">
            <div class="ck_bg_blue" style="padding: 0.5em;">
                <h4 class="ck_font_white">{{isCreate?"创建":"编辑"}}数据源类型配置</h4>
            </div>
            <div style="padding: 0.5em">
                <div class="col_md_4 tar">数据源：</div>
                <div class="col_md_6 tal"><select ng-if="isCreate" ng-model="updateItem.datasourceId" ng-change="setDatasourceTypeList2()">
                    <option ng-repeat="item in newDataSourceList" value="{{item.datasourceId}}">{{item.datasourceName}}</option>
                </select>
                    <span ng-if="!isCreate">{{updateItem.datasourceName}}</span>
                </div>
                <div class="col_md_4 tar">数据源类型：</div>
                <div class="col_md_6 tal"><select ng-if="isCreate" ng-model="updateItem.datasourceTypeId" ng-change="setDatasourceTypeName()">
                    <option ng-repeat="item in datasourceTypeList2" value="{{item.typeId}}">{{item.typeName}}</option>
                </select>
                    <span ng-if="!isCreate">{{updateItem.datasourceTypeName}}</span>
                </div>
                <div class="col_md_4 tar">添加配置类型：</div>
                <div class="col_md_6 tal"><select ng-model="updateItem.confObject">
                    <option value="语义分析对象">语义分析对象</option>
                </select></div>
                <div class="col_md_4 tar">选项值：</div>
                <div class="col_md_6">
                </div>
                <div ng-repeat="item in updateItem.contentTypes" class="padding_2px">
                    <div class="col_md_4 tar">
                        <a class="ck_btn ck_btn_sure" ng-if="$index==updateItem.contentTypes.length-1"
                           ng-click="addContentType()">+</a>&nbsp;&nbsp;
                        <a class="ck_btn ck_btn_danger" ng-if="$index!=0" ng-click="removeContentType($index)">-</a>&nbsp;&nbsp;
                    </div>
                    <div class="col_md_6 tal">
                        <select ng-model="item.fieldId">
                            <option ng-repeat="j in dataSourceTypeRelationList" value="{{j.id}}">{{j.fieldCnName}}</option>
                        </select>
                        <a class="ck_btn" ng-class="{true:'ck_btn_sure',false:'ck_btn_cancel'}[item.isDefault=='1']" ng-click="changeDefault(item)">默认值</a>
                    </div>
                </div>
                <div class="tac">
                    <a class="ck_btn ck_btn_sure" ng-click="saveUpdateItem()">确定</a>
                    <a class="ck_btn ck_btn_cancel" ng-click="hiddenAlt()">取消</a>
                </div>
            </div>
        </div>
    </div>
<#include "../module/script.html">
<script src="${staticAddress}/js/view/datasourceManager/datasourceManagerList.js"></script>
</body>
</html>